{# templates/html.twig #}
<!doctype html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Slim Demo</title>
</head>
    <body>
        {% block body %}
        Here will be override.
        {% endblock %}
    </body>
</html>